.profile {
    background-color: white;
    min-width: 300px;
    width: 80vw;
    max-width: 1200px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.37);
}

.profile > :nth-child(1) {
    font-size: 5em;
    color: rgb(153, 153, 153);
}

.info > :nth-child(2){
    color: rgb(153, 153, 153);
}
